{% extends 'main_app/base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-start">
                    Мастерская "Восковая свеча" находится в городе Уфа Республики Башкортостан. Производством уникальных
                    декоративных свечей ручной работы из пчелиного воска мы занимаемся с 1996 года. За время работы был
                    накоплен большой опыт в свечном производстве. Мы применяем современные технологии при изготовлении
                    свечей. Художниками создаются собственные оригинальные модели свечей и разрабатываются упаковки для
                    них.
                </p>
                <p class="text-start">
                    Воск является идеальным оттискным термопластичным материалом и его применяют для снятия оттисков. Мы
                    использовали это его свойство при создании своих моделей с различными узорами.
                </p>
                <p class="text-start">
                    Свечи производятся из 100% натурального пчелиного воска. Примешивать в пасечный воск какие-либо
                    добавки для увеличения свечной массы и, соответственно снижения ее себестоимости считаем для себя
                    недопустимым. В своем производстве мы не используем красители и ароматизаторы. Закупка пасечного
                    воска производится непосредственно у пчеловодов, при этом он тщательно перебирается и сортируется,
                    поэтому наши свечи обладают натуральным восковым оттенком и естественным неповторимым ароматом.
                    Перед началом работы воск растапливается на водяной бане и длительное время отстаивается. Свечной
                    фитиль изготавливается на собственном фитильном станке, и подбирается к каждому виду свечей
                    отдельно. Основное количество свечей отливается в формы, которые так же разрабатываются и
                    изготавливаются в нашей мастерской. Качество каждой свечи тщательно проверяется. Готовые свечи
                    упаковываются и складываются вручную. Благодаря именно такому подходу, свечи получаются отличного
                    качества, они не коптят, не трещат и не текут.
                </p>
                <p class="text-start">
                    Восковые свечи нашего ассортимента всегда будут радовать вас своим теплом, светом и ароматом.
                </p>
                <p class="text-start">
                    Приглашаем к сотрудничеству оптовых покупателей и поставщиков пасечного воска.
                </p>
                <p class="text-start">
                    Доставка осуществляется во все регионы России, а также ближнего и дальнего зарубежья.
                </p>
            </div>
        </div>
    </div>
{% endblock %}