{% extends 'main_app/base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-start">
                    После того, как Вы выберете понравившиеся свечи и оформите заказ, Вы получите сообщение на
                    электронную почту. Далее, уже в личной переписке, мы подберем для Вас наиболее удобный способ оплаты
                    и доставки.
                </p>
                <p class="text-start">
                    Оплата возможна на расчетный счет и на карту, либо наличными. Стоимость доставки рассчитывается
                    согласно тарифам транспортных компаний в зависимости от региона, массы и объема заказа.
                </p>
                <p class="text-start">
                    По любым вопросам Вы можете связаться с нами по электронной почте shop@candlewax.ru
                </p>
            </div>
        </div>
    </div>
{% endblock %}