{% extends 'main_app/base.html' %}
{% block content %}
    <h1>{{ title }}</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="text-start">
                    Парафиновые свечи обладают только одним «достоинством» своей дешевизной, а в остальном только минусы...
                    Парафин - продукт нефтепереработки, имеющий свойство при горении выделять вредные химические вещества -
                    бензол и толуол. Обратите внимание на то, что парафиновая свеча сама по себе имеет неприятный запах,
                    который при горении усиливается. Если редко зажигать парафиновые свечи - большого вреда не будет. А для
                    тех, кто часто зажигает, лучше отказаться от них вовсе. Парафин особенно противопоказан чувствительным
                    людям - астматикам и аллергикам. В качестве альтернативы мы предлагаем свечи из натурального продукта -
                    пчелиного воска, которые при горении не выделяют вредных веществ, а наоборот, источают природный
                    аромат.
                </p>
            </div>
        </div>
    </div>
{% endblock %}