{% extends 'main_app/base.html' %}
{% block content %}
    <div class="container text-center">
        <div class="row">
            <div class="col">
                <div class="card" style="width: 18rem;">
                    <img src="/media/{{ object.photo }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.descriptions }}</p>
                        <p class="card-text">{{ object.price }} Руб.</p>
                    </div>
                    <div class="card-footer">
                        Просмотры: {{ object.view_count }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}