{% extends 'main_app/base.html' %}

{% block content %}
    <div class="col-12">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-body">
                        <form method="post">
                            {% csrf_token %}
                            <p>Хотите удалить свой отзыв?</p>
                            <button type="submit" class="btn btn-success">Удалить
                            </button>
                            <a href="{% url 'reviews_app:list' %}" class="btn btn-warning">Отмена</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}