{% load my_tags %}
<div class="col">
    <div class="card" style="width: 18rem;">
        <img src="{{ object.photo|mymedia }}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{ object.name }}</h5>
            <p class="card-text">{{ object.descriptions|truncatechars:100 }}</p>
            <a href="{% url 'main_app:candle' object.slug %}" class="btn btn-primary">Подробнее</a>
            <a href="{% url 'main_app:update_candle' object.slug %}" class="btn btn-primary">Изменить</a>
            <a href="{% url 'main_app:delete_candle' object.slug %}" class="btn btn-primary">Удалить</a>
        </div>
    </div>
</div>